In [1]:
import pandas as pd

In [17]:
sample_data = {'name':['John', 'Alia', 'Ananya', 'Steve', 'Ben'], 'gender':['M', 'F', 'F', 'M', 'M'], 'communication_skill_score':[40,45,23,39,39], 'quantitative_skill_score':[38,41,42,48,32]}

In [18]:
data = pd.DataFrame(sample_data, columns=['name', 'gender','communication_skill_score', 'quantitative_skill_score'])

In [35]:
data

     name gender  communication_skill_score  quantitative_skill_score
0    John      M                         40                        38
1    Alia      F                         45                        41
2  Ananya      F                         23                        42
3   Steve      M                         39                        48
4     Ben      M                         39                        32

In [22]:
data['communication_skill_score'].mean(axis=0)

37.2

In [19]:
data['communication_skill_score'].mode()

0    39
dtype: int64

In [21]:
data['communication_skill_score'].median()

39.0

In [24]:
column_range = data['communication_skill_score'].max()-data['communication_skill_score'].min()

In [25]:
print(column_range)

22

In [27]:
q1 = data['communication_skill_score'].quantile(.25)

In [28]:
q3 = data['communication_skill_score'].quantile(.75)

In [29]:
iqr = q3 - q1

In [30]:
print(iqr)

1.0

In [34]:
data['communication_skill_score'].quantile(0)

23.0

In [36]:
data['communication_skill_score'].var()

69.2

In [37]:
data['communication_skill_score'].std()

8.318653737234168

In [38]:
data.describe()

       communication_skill_score  quantitative_skill_score
count                   5.000000                  5.000000
mean                   37.200000                 40.200000
std                     8.318654                  5.848077
min                    23.000000                 32.000000
25%                    39.000000                 38.000000
50%                    39.000000                 41.000000
75%                    40.000000                 42.000000
max                    45.000000                 48.000000

In [39]:
data['communication_skill_score'].skew()

-1.704679180800373

In [40]:
data['communication_skill_score'].kurtosis()

3.6010641852384015

In [41]:
data.cov()

                           communication_skill_score  quantitative_skill_score
communication_skill_score                      69.20                     -6.55
quantitative_skill_score                       -6.55                     34.20

In [42]:
data.corr(method='pearson')

                           communication_skill_score  quantitative_skill_score
communication_skill_score                    1.00000                  -0.13464
quantitative_skill_score                    -0.13464                   1.00000

In [43]:
data.corr(method='kendall')

                           communication_skill_score  quantitative_skill_score
communication_skill_score                   1.000000                 -0.105409
quantitative_skill_score                   -0.105409                  1.000000

In [44]:
data.corr(method='spearman')

                           communication_skill_score  quantitative_skill_score
communication_skill_score                   1.000000                 -0.307794
quantitative_skill_score                   -0.307794                  1.000000

In [45]:
import numpy as np

In [46]:
from scipy.stats import ttest_1samp

In [47]:
data = np.array([63, 75, 84, 58, 52, 96, 63, 55, 76, 83])

In [48]:
data

array([63, 75, 84, 58, 52, 96, 63, 55, 76, 83])

In [49]:
mean_value = np.mean(data)

In [50]:
print('mean: ', mean_value)

mean:  70.5

In [51]:
t_test_value, p_value = ttest_1samp(data,68)

In [52]:
print('P value: ', p_value)

P value:  0.5986851106160134

In [53]:
print('t-test value: ', t_test_value)

t-test value:  0.5454725779039431

In [54]:
if p_value < 0.05:
    print('Hypothesis rejected')
else:
    print('Hypothesis accepted')

Hypothesis accepted

In [55]:
from scipy.stats import ttest_ind

In [56]:
data1 = np.array([63, 75, 84, 58, 52, 96, 63, 55, 76, 83])
data2 = np.array([53, 53, 31, 113, 33, 57, 27, 23, 24, 43])

In [57]:
stat, p = ttest_ind(data1, data2)

In [59]:
print('p-values: ', p)
print('t-test: ', stat)

p-values:  0.019238017798799203
t-test:  2.5709338306979874

In [60]:
if p < 0.05:
    print('Hypothesis rejected')
else:
    print('Hypothesis accepted')

Hypothesis rejected

In [61]:
from scipy.stats import ttest_rel
data1 = np.array([63, 75, 84, 58, 52, 96, 63, 65, 76, 83])
data2 = np.array([53, 43, 67, 59, 48, 57, 65, 58, 64, 72])

In [62]:
stat, p = ttest_rel(data1, data2)
print('p-values: ', p)
print('t-test: ', stat)
if p<0.05:
    print('Hypothesis rejected')
else:
    print('Hypothesis accepted')

p-values:  0.013685575312467715
t-test:  3.0548295044306903
Hypothesis rejected

In [63]:
from scipy.stats import f_oneway

In [64]:
mumbai = [0.14730927, 0.59168541, 0.85677052, 0.27315387, 0.78591207, 0.52426114, 0.05007655, 0.64405363, 0.9825853, 0.62667439]

In [65]:
chicago = [0.99140754, 0.76960782, 0.51370154, 0.85041028, 0.19485391, 0.25269917, 0.19925735, 0.80048387, 0.98381235, 0.5864963]

In [66]:
london = [0.40382226, 0.51613408, 0.39374473, 0.0689976, 0.28035865, 0.56326686, 0.66735357, 0.06786065, 0.21013306, 0.86503358]

In [67]:
stat, p = f_oneway(mumbai, chicago, london)
print('p-values: ', p)
print('anova: ', stat)
if p < 0.05:
    print('Hypothesis reject')
else:
    print('Hypothesis accept')

p-values:  0.27667556390705783
anova:  1.3480446381965452
Hypothesis accept

In [84]:
from scipy.stats import chi2_contingency
average = [20, 16, 13, 7]
outstanding = [31, 40, 60, 13]
contingency_table = [average, outstanding]

In [92]:
stat, p, dof, expected = chi2_contingency([data['Average'], data['Outstanding']])
print('p-values: ', p)
if p < 0.05:
    print('Hypothesis rejected')
else:
    print('Hypothesis accepted')

p-values:  0.059155602774381234
Hypothesis accepted

In [89]:
table_info = {'education level':['High School', 'Higher Secondary', 'Graduate', 'Post-Graduate'], 'Average':[20, 16, 13, 7], 'Outstanding':[31, 40, 60, 13]}

In [90]:
data = pd.DataFrame(table_info, columns=['education level', 'Average', 'Outstanding'])

In [91]:
[data['Average'],data['Outstanding']]

[0    20
 1    16
 2    13
 3     7
 Name: Average, dtype: int64,
 0    31
 1    40
 2    60
 3    13
 Name: Outstanding, dtype: int64]

In [97]:
from scipy.stats import mannwhitneyu
data1 = [7,8,4,9,8]
data2 = [3,4,2,1,1]
stat,p = mannwhitneyu(data1,data2)
print('p-values: ', p)
if p < 0.01:
    print('Hypothesis rejected')
else:
    print('Hypothesis accepted')

p-values:  0.007666581056801412
Hypothesis rejected

In [106]:
from scipy.stats import wilcoxon
data1 = [1,3,5,7,9,11,13]
data2 = [2,4,6,8,10,12,14]
stat, p = wilcoxon(data1,data2)
if p < 0.01:
    print('Hypothesis Rejected')
else:
    print('Hypothesis accepted')
print('p-values: ', p)

Hypothesis accepted
p-values:  0.015625

In [107]:
from scipy.stats import kruskal
x = [38,18,39,83,15,38,63,1,34,50]
y = [78,32,58,59,74,77,29,77,54,59]
z = [117,92,42,79,58,117,46,114,86,26]

In [108]:
stat, p = kruskal(x,y,z)
print('p-value: ', p)
if p < 0.01:
    print('Hypothesis rejected')
else:
    print('Hypothesis accepted')

p-value:  0.01997922369138151
Hypothesis accepted